Flask==3.0.3
gunicorn==22.0.0
google-cloud-firestore==2.16.1
google-cloud-storage==2.18.2
google-cloud-pubsub==2.21.5
google-cloud-documentai==2.27.0
pypdf==5.0.1
protobuf==4.25.3
grpcio==1.64.1
google-api-core==2.19.1
